# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site.
# If you change this file, please restart the server process (jekyll serve).

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "mgr inż. / MSc Rafał A. Bogaczewicz"
title_separator          : "-"
name                     : &name "Rafał A. Bogaczewicz"
description              : &description "Academic portfolio of Rafał A. Bogaczewicz"
url                      : https://rafal-a-bogaczewicz.github.io
baseurl                  : ""
repository               : "rafal-a-bogaczewicz/rafal-a-bogaczewicz.github.io"

# Site Author
author:
  name   : "Rafał A. Bogaczewicz"
  avatar : "/images/rafal.jpg"
  bio    : "Fizyk teoretyk z pasjami"
  employer: "Politechnika Wrocławska"
  
  # Linki naukowe
  orcid:         "orcid.org"
  researchgate:  "www.researchgate.net"
  academia:      "pwr-wroc.academia.edu"
  
  # Repositories and software development
  github           : "rafal-a-bogaczewicz"
  bitbucket        : 
  codepen          : 
  dribbble         : 
  kaggle           : 
  stackoverflow    : 

  # Social media (puste zostają ukryte)
  bluesky          : "bsky.app"
  facebook         : 
  linkedin         : 
  twitter          : 

# Publication Category
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'

# Site Settings
teaser                   : 
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false
comments:
  provider               : false

# Reading Files
include:
  - .htaccess
  - _pages
  - files
  - images
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - node_modules
  - Gemfile
  - Gemfile.lock
  - vendor

keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/
  conferences:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
  - scope:
      path: ""
      type: conferences
    values:
      layout: single
      author_profile: true
