---
---

/* Jekyll Main SCSS - Rafał A. Bogaczewicz - 2026 */

@import
    "vendor/breakpoint/breakpoint",
    "themes",
    "theme/default_light",
    "theme/default_dark",
    "include/mixins",
    "vendor/susy/susy",
    "layout/reset",
    "layout/base",
    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",
    "layout/forms",
    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",
    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* SIDEBAR: ZDJĘCIE I BIO DO LEWEJ */
.author__avatar {
  display: block !important;
  text-align: left !important;
}

.author__avatar img {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.author__content, .author__urls {
  text-align: left !important;
  align-items: flex-start !important;
}

/* KOLORY IKON */
i.ai-orcid { color: #A6CE39 !important; }
i.fa-researchgate { color: #00CCBB !important; }
i.ai-academia { color: #212429 !important; }
html[data-theme='dark'] i.ai-academia { color: #ffffff !important; }

/* GEOMETRIA GŁÓWNA */
#main {
  margin-top: 1em !important;
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width: 1024px) {
  #main { width: 100% !important; padding: 10px !important; }
  .sidebar { width: 100% !important; float: none !important; }
}
