/* --- SIDEBAR RAFAŁ BOGACZEWICZ - FIX LEWEJ STRONY I KOLORÓW --- */
.sidebar {
  @include clearfix();
  @include breakpoint($large) {
    @include span(3 of 12);
    float: left !important;
  }
}

.author__avatar {
  display: block !important;
  text-align: left !important; /* Zdjęcie do lewej */
  img {
    max-width: 175px !important;
    border-radius: 50%;
    margin-left: 0 !important; /* Kasuje środek */
    margin-right: auto !important;
  }
}

.author__content {
  text-align: left !important;
  padding-left: 0 !important;
}

.author__urls-wrapper {
  button { display: none !important; } /* Brak przycisku follow */
}

.author__urls {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important; /* Linki do lewej */
  @include breakpoint($large) { display: block !important; }

  a {
    display: flex;
    align-items: center;
    color: var(--global-text-color) !important; /* Napis czarny/biały */
    text-decoration: none;
    
    /* PRZYWRÓCENIE KOLORÓW IKON */
    .ai-orcid { color: #A6CE39 !important; }
    .fa-researchgate { color: #00CCBB !important; }
    .ai-academia { color: #212429 !important; }
  }
}
