/* ==========================================================================
   SIDEBAR - Rafał A. Bogaczewicz - Version 2026.01.15 (Finalna Stabilizacja)
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);
  @include clearfix();
  margin-bottom: 1em;

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  /* Stabilizacja przy przewijaniu na dużych ekranach */
  @media screen and (min-width: 1200px) {
    position: -webkit-sticky;
    position: sticky;
    top: $masthead-height + 20px;
    z-index: 10;
  }

  @include breakpoint($large) {
    @include span(3 of 12);
    float: left !important;      
    margin-left: 0 !important;   
    padding-right: 20px;
    opacity: 1;
    margin-top: 0 !important;    
    padding-top: 0 !important;   
    vertical-align: top;         
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

/* --- PROFIL AUTORA --- */

.author__avatar {
  display: block !important; 
  width: auto;
  
  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px !important; 
    width: 175px !important;
    border-radius: 50%;
    margin-left: 0 !important;   
    border: 1px solid var(--global-border-color);
    padding: 5px;
  }
}

.author__content {
  display: block !important;
  vertical-align: top;
  padding-left: 0 !important; 
  line-height: 1.2;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-right: 0;
  }
}

.author__name {
  margin: 10px 0 !important;
  font-family: $sans-serif;
  font-size: $type-size-5;
  text-align: left; 

  @media screen and (max-width: 1440px) {
    text-align: center !important; 
    display: block !important;
    width: 100% !important;
  }
}

.author__bio {
  margin: 10px 0 20px 0;
  font-size: $type-size-6;
  text-align: left; 

  @media screen and (max-width: 1440px) {
    text-align: center !important; 
    display: block !important;
    width: 100% !important;
  }
}

/* --- LINKI I IKONY --- */

.author__urls-wrapper {
  position: relative;
  font-family: $sans-serif;
  z-index: 20;

  button {
    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: flex !important;      
  flex-wrap: wrap !important;    
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;

  @include breakpoint($large) {
    display: block !important;   
  }

  li {
    white-space: nowrap;
    margin-right: 15px;          
    
    @include breakpoint($large) {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: inherit;
    font-size: $type-size-6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }
}

.author__urls-wrapper button {
  display: none;
}

/* ==========================================================================
   POPRAWKA DLA ZOOMU 133% - ELASTYCZNA SZEROKOŚĆ Z ZACHOWANIEM PIONU
   ========================================================================== */

@media screen and (max-width: 1440px) {
  .author__avatar {
    text-align: center !important;
    img {
      margin: 0 auto 15px auto !important; 
    }
  }

  .author__content {
    /* Ustawiamy kontener na środku paska bocznego */
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; 
  }

  .author__name, 
  .author__bio {
    /* Pozwalamy tekstowi rosnąć, ale wewnątrz trzymamy wyrównanie do lewej */
    display: block !important;
    width: fit-content !important; // Kontener dopasuje się do długości tekstu
    max-width: 100% !important;    // Ale nie wyjdzie poza ekran na smartfonie
    text-align: left !important;   // PIONOWA LINIA STARTU ZACHOWANA
    margin-left: auto !important;  // Te dwie linie centrują blok tekstu...
    margin-right: auto !important; // ...zachowując wewnątrz wyrównanie do lewej.
  }

  .author__urls {
    justify-content: center !important;
    width: 100% !important;
  }
}
